<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="css/stylecreatepost.css">
          <title>Create a Post</title>
  </head>
  <body>
    <a href="/">forum</a>
    <h2>Create a Post</h2>

    <form action="/createPost" method="POST">
    <input class="title" type="text" name="titlename"/>
      <p></p>
    <textarea rows="4" col="30" class="content" name="content"/></textarea>
      <p></p>
    <input type="submit"/>
    </form>

  </body>
</html>
