<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Create a Post</title>
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="css/poststyle.css">
  </head>

  <body>
    <a class="homeButton" href="/">forum</a>

    <form action="/createPost" method="post">
      <h2>Create a Post</h2>
      <fieldset>
        <h3>Title:</h3>
    <input class="title" type="text" name="titlename"/>
      <p></p>
      <h3>Content:</h3>
    <textarea rows="4" col="30" name="content"/></textarea>
      </fieldset>
        <button type="submit">Create Post</button>
    </form>
</body>

</html>
