<h2>login</h2>

<form action="/login" method="POST"></form>
<input type="text" placeholder="username" name="username"/>
<input type="password" placeholder="****" name="password"/>

<input type="submit"/>
