<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="css/form.css">
  </head>
  <body>
    <a class="homeButton" href="/">forum</a>

    <form action="/login" method="POST">
      <h2>Login</h2>
    <fieldset>
      <label for="name">Name:</label>
      <input type="text" id="name" name="username">

      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </fieldset>

    <button type="submit">Login</button>
</form>

  </body>
</html>
