<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
        <title></title>
  </head>
  <body>
    <h3>You are now logged out.</h3>
    <script>
    var timer = setTimeout(function() {
        window.location="/"
    }, 3000);
    </script>
  </body>
</html>
