<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet" type='text/css'>
  </head>

<body>

    <a class="homeButton" href="/">forum</a>

  <div>
    <h1>
      <span> <%=title%> </span>
    </h1>

  <p> Created by <%=user%>, <%=time%> · 3 replies</p>
    <div class="post">
      <p><%=data%></p>
    </div>
  </div>

  <p> Replies:

  <div class="post">
    <ul>nai</ul>
      <ul>oxi</ul>
        <ul>maybe</ul>
          <ul>denkserw</ul>

  </div>
  </p>

</body>

</html>
