<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
        <title></title>
  </head>
  <body>

<div>
  <h1>
    <span> Help with buying a monitor </span>
  </h1>

<p> Created by Patatas21, November 16, 2016 · 3 replies</p>
  <div class="post">
    <aside>
      <ul>
        <li>WereCat</li>
        <li>Member</li>
        <li>7,423 posts</li>
        <li>Bad Apple</li>
        <li>Location: Slovakia, Martin</li>
      </ul>
    </aside>
    
<p>This is my issue: after building recently a good gaming rig (7700k + 1080 in particular) I decided to upgrade my monitor to an ASUS pg278qr, but unfortunately I have received two faulty samples - concerning pixels - in a row, with the second one with two pixels dying right in front of me after 3 days. The specs, however, were in general really suited to me (inches, 144hz and so on).
Since I opted to return the monitor, which I am currently doing in these days, I am now torn between a question: I would totally like to go with a dell S2716dg, knowing that usually dell has a better QC as far as I've understood, but I really fear that I can get another 1 or 2 faulty displays, since the actual panel is the same as the ASUS one. Due to this, I am torn between it and something like the u2715h, which is an ultrasharp model about which many Italian guys have spoken well, concerning QC... but it is 60 hz (not even considering G-sync), which is a bit of a "meh..." at the moment.
</p>

  </div>
</div>


  </body>
</html>
