<h2>register</h2>

<form action="/register" method="POST"></form>
<input type="text" placeholder="username" name="username"/>
<input type="password" placeholder="****" name="password"/>

<input type="submit"/>
